*{
    margin: auto;
}

p{
    border: 20px solid black;
    padding: 20px;
    margin: 20px;
}

body {
    background-color: bisque;
    text-align: center;
    color: black;
}

#miTitulo{
    color: blueviolet;
    font-size: 32px; 
    background-color: rgb(243, 195, 178);
}

.imagenes{
    width: 350px;
    height: 250px;
    margin-top: 20px;
}

#miParrafo{
    color: black;
    font-size: 20px;
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
}

#miTitulo2{
    color: brown;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    background-color: rgb(243, 195, 178);
}


.hiper{
    margin-left: 20px;
    margin-right: 20px;
}

a:hover{
    color: deeppink;
    font-size: 20px;
    font-style: italic;
    padding: 40px;

}

img:hover{
    width: 320px;
}

#miImagen:hover{
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transform: rotateZ(90deg) scale(1.2);
    filter: blur(1px)
}

#miImagen2:hover{
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transform: rotateX(90deg) scale(1.2);
    filter: brightness(2px)
}

#miVideo:hover{
    transition-duration: 2s;
    transition-delay: initial;
    transform: rotateY(90deg) scale(1.2);
    filter: grayscale(2px)
}

#miTitulo3:hover{
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transform: rotateX(90deg) scale(1.4);
    filter: brightness(3px)
}


#miParrafo{
    animation-name: miAnimacion;
    animation-duration: 300ms;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes miAnimacion{
    0%{
        transform: scale(.95,.95)
    }

    50%{
        transform: rotateZ(1deg)
    }

    100%{
       transform: translate(-5px,5px);
       filter: contraste(200%);
    }
}

#miImagen{
    animation-name: miAnimacion2;
    animation-duration: 2000ms;
    animation-delay: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: initial;
}

@keyframes miAnimacion2{
    0%{
        transform: scale(.40,.40)
    }

    70%{
        transform: rotateX(10deg)
    }

    100%{
        transform: translateZ(20deg);
        filter: blur(2px)
    }
}

#miImagen2{
    animation-name: miAnimacion3;
    animation-duration: 1000ms;
    animation-delay: 3s;
    animation-timing-function: inherit;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes miAnimacion3{
    0%{
        transform: scale(.35,.35)
    }

    70%{
        transform: rotateY(30deg)
    }

    100%{
        transform: translateZ(20deg);
        filter: brightness(3px)
    }
}

#miVideo{
    animation-name: miAnimacion4;
    animation-duration: 500ms;
    animation-delay: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: inherit;
}

@keyframes miAnimacion4{
    0%{
        transform: scale(.20,.20)
    }

    70%{
        transform: rotateX(40deg)
    }

    100%{
        transform: translateZ(30deg);
        filter: brightness(5px)
    }
}
}
